/* font from https://brick.im  */
/* colors from https://clrs.cc/  */

body {
    margin: 0 auto;
    max-width: 900px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #FFFFFF;
    color: #454545;
}

header {
    padding: 0 10px;
}

section {
    padding: 0 10px;
}

strong {
    font-weight: bold;
}

h1,
h2,
h3 {
    line-height: 1.2
}

a:link, a:visited {
    color: #0074D9;
    text-decoration: none;
}

a:hover {
    color: #7FDBFF;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 900px) {
    .flex-container {
        flex-direction: column;
    }
    header {
        padding: 0;
    }
    section {
        padding: 0;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111111;
        color: #DDDDDD;
    }
}