/* colors from https://clrs.cc */

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.2
}

a:link {
    color: #0074D9;
}

a:visited {
    color: #B10DC9;
}

a:hover {
    color: #7FDBFF;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #FFFFFF;
        color: #454545;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111111;
        color: #DDDDDD;
    }
}