body{margin:0 auto;max-width:900px;line-height:1.6;font-size:18px;padding:0 10px;font-family:roboto,sans-serif;font-weight:300;background-color:#fff;color:#454545}#profile-photo{width:320px}.column{padding:0 10px;min-width:320px}strong{font-weight:700}h1,h2,h3{line-height:1.2}a:link,a:visited{color:#0074d9;text-decoration:none}a:hover{color:#7fdbff}.columns{display:flex;flex-direction:row}.no-javascript{color:#ff4136}.abstract{font-size:medium}.centered{text-align:center}.typewriter{font-family:monospace;font-size:16px}@counter-style journal-counter{system: extends numeric;
    prefix: '[J';
    suffix: '] ';
}@counter-style conference-counter{system: extends numeric;
    prefix: '[C';
    suffix: '] ';
}@counter-style preprint-counter{system: extends numeric;
    prefix: '[';
    suffix: '] ';
}#journal-articles{list-style-type:journal-counter}#conference-proceedings{list-style-type:conference-counter}#preprints{list-style-type:preprint-counter}@media(max-width:900px){body{max-width:650px}.columns{flex-direction:column}#profile-photo{width:calc(100vw - 20px);max-width:400px}.column{padding:0}}@media(prefers-color-scheme:dark){body{background-color:#111;color:#ddd}}